@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;800;900&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: "Inter", sans-serif;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.contiener {
  margin: 0 auto;
  padding: 10px 40px;
  max-width: 1440px;
}

button {
  border-radius: 8px;
  padding: 8px 40px;
  width: 235px;
  height: 56px;
  background: #f50e30;
  color: white;
}
button:hover{
    background-color: black;
}
.f{
    background-image:url(../img/audi.png);
    width: 100%;
}
 .swiper {
      width: 100%;
      height: 100%;
    }

    .swiper-slide {
      text-align: center;
      font-size: 18px;
      background: #fff;
      display: flex;
      justify-content: center;
      align-items: center;
    }

    .swiper-slide img {
      display: block;
      width: 100%;
      height: 100%;
      object-fit: cover;
    }

    .swiper {
      width: 100%;
      height: 300px;
      margin: 20px auto;
    }

@media (max-width:730px) {
    .card{
        display: grid;
        grid-template-columns: repeat(2,2fr);
    }
}
@media (max-width:1257px) {
  .flexxx{
    display: none;
  }
}
@media (max-width:426px) {
    .card{
        display: grid;
        grid-template-columns: repeat(1,1fr);
        gap: 30px;
        align-items: center;
    }
}
@media (max-width:1000px) {
    .cards_page div{
        display: flex;
        flex-direction: column;
        gap: 30px;
        width: 100%;
    }
}